*{
    margin:0;
    padding:0;
}
body{
margin:0;
}

nav{
    background-color: yellow;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

nav li{
    height: 50px;
}

li{
    text-decoration: none;

}
nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover{
    background-color: red;
}

nav li:first-child{
    margin-right:auto;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color: yellow;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width:100%;
}
.sidebar a{
    width:100%;
}
.menubar{
    display: none;
}

@media(max-width:800px){
    .hide{
        display: none;
    }
    .menubar{
        display: flex;
    }
}